@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    #login {
       width: 80vw;
       height: 80vh;
    }

    #login #imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;

    }

    #login #formulario {
        float: right;
        width: 68%;
    }
}
@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    #login {
       width: 950px;
       
    }
    #login #imagem {
        width: 50%;
        float: left;
        height: 100%;
    
    }
    #login #formulario {
        float: right;
        width: 50%;
    }

   
   
}