@charset "UTF-8";

@media screen and (min-width: 650px) {
body {
    background-color: red;
    width: 200px;
   
}

#rola {
    background-color: aqua;
    transition-timing-function: ease;
    transition-duration: 2s;
    transition-delay: 1s;
}

#lor {
    background-color: blue;
}
}
